@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan custom scrollbar biar ala Hacker/Cyber */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #00050d;
}
::-webkit-scrollbar-thumb {
  background: #1e3a8a;
  border-radius: 10px;
}

body {
  @apply bg-[#00050d] text-white overflow-x-hidden font-sans;
}
